.u-section-1 {
  background-image: url("images/bg_pattern.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 598px;
}

.u-section-1 .u-text-1 {
  margin: 90px 20px 0;
}

.u-section-1 .u-text-2 {
  width: 640px;
  margin: 8px auto 0;
}

.u-section-1 .u-gallery-1 {
  height: 364px;
  grid-gap: 17px 17px;
  margin: 17px auto 30px;
}

.u-section-1 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 534px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-gallery-1 {
    height: 164px;
    grid-template-columns: auto auto auto;
    margin-top: 93px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: auto auto auto;
    grid-gap: 0px 0px;
    min-height: 264px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 751px;
  }

  .u-section-1 .u-gallery-1 {
    height: 689px;
    margin-top: 20px;
    grid-template-columns: auto auto;
    margin-bottom: 30px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1785px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-gallery-1 {
    height: 1550px;
    margin-top: -42px;
    margin-bottom: 20px;
    grid-template-columns: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: auto;
    grid-gap: 14px 14px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1211px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-gallery-1 {
    height: 976px;
    margin-top: 8px;
    margin-bottom: 53px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-gap: 17px 17px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1549px;
}

.u-section-2 .u-text-1 {
  width: 640px;
  margin: 5px auto 0;
}

.u-section-2 .u-line-1 {
  width: 100px;
  transform-origin: left center 0px;
  height: 3px;
  margin: 5px auto 0;
}

.u-section-2 .u-text-2 {
  width: 640px;
  margin: -3px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 69px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 608px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  height: 437px;
  width: 350px;
  margin: 1px -30px 0 auto;
}

.u-section-2 .u-text-3 {
  margin: 29px 20px 0;
}

.u-section-2 .u-text-4 {
  margin: 13px 20px 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 608px;
  background-position: 0% 0%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  height: 440px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-5 {
  margin: 30px 20px 0;
}

.u-section-2 .u-text-6 {
  margin: 13px 20px 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 607px;
  background-position: 0% 0%;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  height: 441px;
  width: 320px;
  margin: 0;
}

.u-section-2 .u-text-7 {
  margin: 30px 20px 0;
}

.u-section-2 .u-text-8 {
  margin: 13px 20px 0;
}

.u-section-2 .u-layout-wrap-2 {
  margin-top: 59px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 554px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-image-4 {
  height: 388px;
  width: 350px;
  margin: 0 -30px 0 0;
}

.u-section-2 .u-text-9 {
  margin: 30px 20px 0;
}

.u-section-2 .u-text-10 {
  margin: 13px 20px 0;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 455px;
  background-position: 0% 0%;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-image-5 {
  height: 340px;
  margin: 0 auto;
}

.u-section-2 .u-text-11 {
  margin: 30px 20px 0;
}

.u-section-2 .u-text-12 {
  margin: 13px 20px 0;
}

.u-section-2 .u-layout-cell-6 {
  min-height: 506px;
  background-position: 0% 0%;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-image-6 {
  height: 340px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-13 {
  margin: 30px 20px 0;
}

.u-section-2 .u-text-14 {
  margin: 13px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1345px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 71px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 483px;
    margin-left: 150px;
    margin-right: 150px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 161px;
    margin-bottom: 20px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 501px;
  }

  .u-section-2 .u-image-1 {
    height: 316px;
    width: 253px;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-4 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 501px;
  }

  .u-section-2 .u-image-2 {
    height: 280px;
  }

  .u-section-2 .u-text-5 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-6 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 501px;
  }

  .u-section-2 .u-image-3 {
    height: 349px;
    width: 253px;
  }

  .u-section-2 .u-text-7 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-8 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 457px;
  }

  .u-section-2 .u-image-4 {
    height: 280px;
    width: 253px;
    margin-right: 0;
  }

  .u-section-2 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 375px;
  }

  .u-section-2 .u-image-5 {
    height: 269px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 417px;
  }

  .u-section-2 .u-image-6 {
    height: 269px;
  }

  .u-section-2 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 587px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 137px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 341px;
    margin-left: 40px;
    margin-right: 40px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 262px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    height: 225px;
    width: 180px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-image-2 {
    height: 214px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-image-3 {
    height: 248px;
    width: 180px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-image-4 {
    height: 199px;
    width: 180px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-2 .u-image-5 {
    height: 191px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-2 .u-image-6 {
    height: 191px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 787px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
    margin-top: -1568px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
    margin-top: 2012px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -1409px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 568px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 402px;
    width: 530px;
    margin-right: -10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    height: 482px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 869px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-5 {
    height: 552px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-6 {
    height: 552px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
    margin-top: 63px;
  }

  .u-section-2 .u-line-1 {
    margin-top: 20px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
    margin-top: 1843px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -1880px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    height: 243px;
    width: 320px;
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    height: 303px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-image-5 {
    height: 340px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-6 {
    height: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1549px;
}

.u-section-3 .u-text-1 {
  width: 640px;
  margin: 5px auto 0;
}

.u-section-3 .u-line-1 {
  width: 100px;
  transform-origin: left center 0px;
  height: 3px;
  margin: 5px auto 0;
}

.u-section-3 .u-text-2 {
  width: 640px;
  margin: -3px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 69px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 608px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  height: 437px;
  width: 350px;
  margin: 1px -30px 0 auto;
}

.u-section-3 .u-text-3 {
  margin: 29px 20px 0;
}

.u-section-3 .u-text-4 {
  margin: 13px 20px 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 608px;
  background-position: 0% 0%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  height: 440px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-5 {
  margin: 30px 20px 0;
}

.u-section-3 .u-text-6 {
  margin: 13px 20px 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 607px;
  background-position: 0% 0%;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-image-3 {
  height: 441px;
  width: 320px;
  margin: 0;
}

.u-section-3 .u-text-7 {
  margin: 30px 20px 0;
}

.u-section-3 .u-text-8 {
  margin: 13px 20px 0;
}

.u-section-3 .u-layout-wrap-2 {
  margin-top: 59px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 554px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-image-4 {
  height: 388px;
  width: 350px;
  margin: 0 -30px 0 0;
}

.u-section-3 .u-text-9 {
  margin: 30px 20px 0;
}

.u-section-3 .u-text-10 {
  margin: 13px 20px 0;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 455px;
  background-position: 0% 0%;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-image-5 {
  height: 340px;
  margin: 0 auto;
}

.u-section-3 .u-text-11 {
  margin: 30px 20px 0;
}

.u-section-3 .u-text-12 {
  margin: 13px 20px 0;
}

.u-section-3 .u-layout-cell-6 {
  min-height: 506px;
  background-position: 0% 0%;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-image-6 {
  height: 340px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-13 {
  margin: 30px 20px 0;
}

.u-section-3 .u-text-14 {
  margin: 13px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1345px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 71px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 483px;
    margin-left: 150px;
    margin-right: 150px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 161px;
    margin-bottom: 20px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 501px;
  }

  .u-section-3 .u-image-1 {
    height: 316px;
    width: 253px;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-4 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 501px;
  }

  .u-section-3 .u-image-2 {
    height: 280px;
  }

  .u-section-3 .u-text-5 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-6 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 501px;
  }

  .u-section-3 .u-image-3 {
    height: 349px;
    width: 253px;
  }

  .u-section-3 .u-text-7 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-8 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 457px;
  }

  .u-section-3 .u-image-4 {
    height: 280px;
    width: 253px;
    margin-right: 0;
  }

  .u-section-3 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 375px;
  }

  .u-section-3 .u-image-5 {
    height: 269px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 417px;
  }

  .u-section-3 .u-image-6 {
    height: 269px;
  }

  .u-section-3 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 587px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 137px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 341px;
    margin-left: 40px;
    margin-right: 40px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 262px;
    margin-bottom: 60px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-image-1 {
    height: 225px;
    width: 180px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-image-2 {
    height: 214px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-image-3 {
    height: 248px;
    width: 180px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-image-4 {
    height: 199px;
    width: 180px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-3 .u-image-5 {
    height: 191px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-3 .u-image-6 {
    height: 191px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 787px;
  }

  .u-section-3 .u-text-1 {
    width: 540px;
    margin-top: -1568px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
    margin-top: 2012px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -1409px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 568px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    height: 402px;
    width: 530px;
    margin-right: -10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    height: 482px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 869px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-5 {
    height: 552px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-6 {
    height: 552px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
    margin-top: 63px;
  }

  .u-section-3 .u-line-1 {
    margin-top: 20px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
    margin-top: 1843px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -1880px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-image-1 {
    height: 243px;
    width: 320px;
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    height: 303px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-image-5 {
    height: 340px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-6 {
    height: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1549px;
}

.u-section-4 .u-text-1 {
  width: 640px;
  margin: 5px auto 0;
}

.u-section-4 .u-line-1 {
  width: 100px;
  transform-origin: left center 0px;
  height: 3px;
  margin: 5px auto 0;
}

.u-section-4 .u-text-2 {
  width: 640px;
  margin: -3px auto 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 69px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 608px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  height: 437px;
  width: 350px;
  margin: 1px -30px 0 auto;
}

.u-section-4 .u-text-3 {
  margin: 29px 20px 0;
}

.u-section-4 .u-text-4 {
  margin: 13px 20px 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 608px;
  background-position: 0% 0%;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-image-2 {
  height: 440px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-5 {
  margin: 30px 20px 0;
}

.u-section-4 .u-text-6 {
  margin: 13px 20px 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 607px;
  background-position: 0% 0%;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-image-3 {
  height: 441px;
  width: 320px;
  margin: 0;
}

.u-section-4 .u-text-7 {
  margin: 30px 20px 0;
}

.u-section-4 .u-text-8 {
  margin: 13px 20px 0;
}

.u-section-4 .u-layout-wrap-2 {
  margin-top: 59px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 554px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-image-4 {
  height: 388px;
  width: 350px;
  margin: 0 -30px 0 0;
}

.u-section-4 .u-text-9 {
  margin: 30px 20px 0;
}

.u-section-4 .u-text-10 {
  margin: 13px 20px 0;
}

.u-section-4 .u-layout-cell-5 {
  min-height: 455px;
  background-position: 0% 0%;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-image-5 {
  height: 340px;
  margin: 0 auto;
}

.u-section-4 .u-text-11 {
  margin: 30px 20px 0;
}

.u-section-4 .u-text-12 {
  margin: 13px 20px 0;
}

.u-section-4 .u-layout-cell-6 {
  min-height: 506px;
  background-position: 0% 0%;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px;
}

.u-section-4 .u-image-6 {
  height: 340px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-13 {
  margin: 30px 20px 0;
}

.u-section-4 .u-text-14 {
  margin: 13px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1345px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 71px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 483px;
    margin-left: 150px;
    margin-right: 150px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 161px;
    margin-bottom: 20px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 501px;
  }

  .u-section-4 .u-image-1 {
    height: 316px;
    width: 253px;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-4 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 501px;
  }

  .u-section-4 .u-image-2 {
    height: 280px;
  }

  .u-section-4 .u-text-5 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-6 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 501px;
  }

  .u-section-4 .u-image-3 {
    height: 349px;
    width: 253px;
  }

  .u-section-4 .u-text-7 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-8 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 457px;
  }

  .u-section-4 .u-image-4 {
    height: 280px;
    width: 253px;
    margin-right: 0;
  }

  .u-section-4 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 375px;
  }

  .u-section-4 .u-image-5 {
    height: 269px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 417px;
  }

  .u-section-4 .u-image-6 {
    height: 269px;
  }

  .u-section-4 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 587px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 137px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 341px;
    margin-left: 40px;
    margin-right: 40px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 262px;
    margin-bottom: 60px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-image-1 {
    height: 225px;
    width: 180px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-image-2 {
    height: 214px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-image-3 {
    height: 248px;
    width: 180px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-4 .u-image-4 {
    height: 199px;
    width: 180px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-4 .u-image-5 {
    height: 191px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-4 .u-image-6 {
    height: 191px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 787px;
  }

  .u-section-4 .u-text-1 {
    width: 540px;
    margin-top: -1568px;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
    margin-top: 2012px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: -1409px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 568px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    height: 402px;
    width: 530px;
    margin-right: -10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    height: 482px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 869px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-5 {
    height: 552px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-6 {
    height: 552px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    width: 340px;
    margin-top: 63px;
  }

  .u-section-4 .u-line-1 {
    margin-top: 20px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
    margin-top: 1843px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: -1880px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-image-1 {
    height: 243px;
    width: 320px;
    margin-right: 0;
  }

  .u-section-4 .u-image-2 {
    height: 303px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-image-5 {
    height: 340px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-6 {
    height: 340px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 1549px;
}

.u-section-5 .u-text-1 {
  width: 640px;
  margin: 10px auto 0;
}

.u-section-5 .u-line-1 {
  width: 100px;
  transform-origin: left center 0px;
  height: 3px;
  margin: 0 auto;
}

.u-section-5 .u-text-2 {
  width: 640px;
  margin: -3px auto 0;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 69px;
  margin-bottom: 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 608px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-image-1 {
  height: 437px;
  width: 350px;
  margin: 1px -30px 0 auto;
}

.u-section-5 .u-text-3 {
  margin: 29px 20px 0;
}

.u-section-5 .u-text-4 {
  margin: 13px 20px 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 608px;
  background-position: 0% 0%;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-image-2 {
  height: 440px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-5 {
  margin: 30px 20px 0;
}

.u-section-5 .u-text-6 {
  margin: 13px 20px 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 607px;
  background-position: 0% 0%;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-image-3 {
  height: 441px;
  width: 320px;
  margin: 0;
}

.u-section-5 .u-text-7 {
  margin: 30px 20px 0;
}

.u-section-5 .u-text-8 {
  margin: 13px 20px 0;
}

.u-section-5 .u-layout-wrap-2 {
  margin-top: 59px;
  margin-bottom: 60px;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 554px;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-image-4 {
  height: 388px;
  width: 350px;
  margin: 0 -30px 0 0;
}

.u-section-5 .u-text-9 {
  margin: 30px 20px 0;
}

.u-section-5 .u-text-10 {
  margin: 13px 20px 0;
}

.u-section-5 .u-layout-cell-5 {
  min-height: 455px;
  background-position: 0% 0%;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px;
}

.u-section-5 .u-image-5 {
  height: 340px;
  margin: 0 auto;
}

.u-section-5 .u-text-11 {
  margin: 30px 20px 0;
}

.u-section-5 .u-text-12 {
  margin: 13px 20px 0;
}

.u-section-5 .u-layout-cell-6 {
  min-height: 506px;
  background-position: 0% 0%;
}

.u-section-5 .u-container-layout-6 {
  padding: 30px;
}

.u-section-5 .u-image-6 {
  height: 340px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-13 {
  margin: 30px 20px 0;
}

.u-section-5 .u-text-14 {
  margin: 13px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1345px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 71px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 483px;
    margin-left: 150px;
    margin-right: 150px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 161px;
    margin-bottom: 20px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 501px;
  }

  .u-section-5 .u-image-1 {
    height: 316px;
    width: 253px;
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-4 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 501px;
  }

  .u-section-5 .u-image-2 {
    height: 280px;
  }

  .u-section-5 .u-text-5 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-6 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 501px;
  }

  .u-section-5 .u-image-3 {
    height: 349px;
    width: 253px;
  }

  .u-section-5 .u-text-7 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-8 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 457px;
  }

  .u-section-5 .u-image-4 {
    height: 280px;
    width: 253px;
    margin-right: 0;
  }

  .u-section-5 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 375px;
  }

  .u-section-5 .u-image-5 {
    height: 269px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-6 {
    min-height: 417px;
  }

  .u-section-5 .u-image-6 {
    height: 269px;
  }

  .u-section-5 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 587px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 137px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 341px;
    margin-left: 40px;
    margin-right: 40px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 262px;
    margin-bottom: 60px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-image-1 {
    height: 225px;
    width: 180px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-image-2 {
    height: 214px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-image-3 {
    height: 248px;
    width: 180px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-5 .u-image-4 {
    height: 199px;
    width: 180px;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-5 .u-image-5 {
    height: 191px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-5 .u-image-6 {
    height: 191px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 787px;
  }

  .u-section-5 .u-text-1 {
    width: 540px;
    margin-top: -1568px;
  }

  .u-section-5 .u-text-2 {
    width: 540px;
    margin-top: 2012px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: -1409px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 568px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    height: 402px;
    width: 530px;
    margin-right: -10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-2 {
    height: 482px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 869px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-5 {
    height: 552px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-6 {
    height: 552px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    width: 340px;
    margin-top: 63px;
  }

  .u-section-5 .u-line-1 {
    margin-top: 20px;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
    margin-top: 1843px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: -1880px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-image-1 {
    height: 243px;
    width: 320px;
    margin-right: 0;
  }

  .u-section-5 .u-image-2 {
    height: 303px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-image-5 {
    height: 340px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-6 {
    height: 340px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 1549px;
}

.u-section-6 .u-text-1 {
  width: 640px;
  margin: 5px auto 0;
}

.u-section-6 .u-line-1 {
  width: 100px;
  transform-origin: left center 0px;
  height: 3px;
  margin: 5px auto 0;
}

.u-section-6 .u-text-2 {
  width: 640px;
  margin: -3px auto 0;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 69px;
  margin-bottom: 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 608px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-image-1 {
  height: 437px;
  width: 350px;
  margin: 1px -30px 0 auto;
}

.u-section-6 .u-text-3 {
  margin: 29px 20px 0;
}

.u-section-6 .u-text-4 {
  margin: 13px 20px 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 608px;
  background-position: 0% 0%;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-image-2 {
  height: 440px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-text-5 {
  margin: 30px 20px 0;
}

.u-section-6 .u-text-6 {
  margin: 13px 20px 0;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 607px;
  background-position: 0% 0%;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-image-3 {
  height: 441px;
  width: 320px;
  margin: 0;
}

.u-section-6 .u-text-7 {
  margin: 30px 20px 0;
}

.u-section-6 .u-text-8 {
  margin: 13px 20px 0;
}

.u-section-6 .u-layout-wrap-2 {
  margin-top: 59px;
  margin-bottom: 60px;
}

.u-section-6 .u-layout-cell-4 {
  min-height: 554px;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

.u-section-6 .u-image-4 {
  height: 388px;
  width: 350px;
  margin: 0 -30px 0 0;
}

.u-section-6 .u-text-9 {
  margin: 30px 20px 0;
}

.u-section-6 .u-text-10 {
  margin: 13px 20px 0;
}

.u-section-6 .u-layout-cell-5 {
  min-height: 455px;
  background-position: 0% 0%;
}

.u-section-6 .u-container-layout-5 {
  padding: 30px;
}

.u-section-6 .u-image-5 {
  height: 340px;
  margin: 0 auto;
}

.u-section-6 .u-text-11 {
  margin: 30px 20px 0;
}

.u-section-6 .u-text-12 {
  margin: 13px 20px 0;
}

.u-section-6 .u-layout-cell-6 {
  min-height: 506px;
  background-position: 0% 0%;
}

.u-section-6 .u-container-layout-6 {
  padding: 30px;
}

.u-section-6 .u-image-6 {
  height: 340px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-text-13 {
  margin: 30px 20px 0;
}

.u-section-6 .u-text-14 {
  margin: 13px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1345px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 71px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 483px;
    margin-left: 150px;
    margin-right: 150px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 161px;
    margin-bottom: 20px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 501px;
  }

  .u-section-6 .u-image-1 {
    height: 316px;
    width: 253px;
    margin-right: 0;
  }

  .u-section-6 .u-text-3 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-4 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 501px;
  }

  .u-section-6 .u-image-2 {
    height: 280px;
  }

  .u-section-6 .u-text-5 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-6 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 501px;
  }

  .u-section-6 .u-image-3 {
    height: 349px;
    width: 253px;
  }

  .u-section-6 .u-text-7 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-8 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 457px;
  }

  .u-section-6 .u-image-4 {
    height: 280px;
    width: 253px;
    margin-right: 0;
  }

  .u-section-6 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-5 {
    min-height: 375px;
  }

  .u-section-6 .u-image-5 {
    height: 269px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-6 {
    min-height: 417px;
  }

  .u-section-6 .u-image-6 {
    height: 269px;
  }

  .u-section-6 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 587px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 137px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 341px;
    margin-left: 40px;
    margin-right: 40px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 262px;
    margin-bottom: 60px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-image-1 {
    height: 225px;
    width: 180px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-image-2 {
    height: 214px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-6 .u-image-3 {
    height: 248px;
    width: 180px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-6 .u-image-4 {
    height: 199px;
    width: 180px;
  }

  .u-section-6 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-6 .u-image-5 {
    height: 191px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-6 .u-image-6 {
    height: 191px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 787px;
  }

  .u-section-6 .u-text-1 {
    width: 540px;
    margin-top: -1568px;
  }

  .u-section-6 .u-text-2 {
    width: 540px;
    margin-top: 2012px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: -1409px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 568px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-1 {
    height: 402px;
    width: 530px;
    margin-right: -10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-2 {
    height: 482px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 869px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-5 {
    height: 552px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-6 {
    height: 552px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    width: 340px;
    margin-top: 63px;
  }

  .u-section-6 .u-line-1 {
    margin-top: 20px;
  }

  .u-section-6 .u-text-2 {
    width: 340px;
    margin-top: 1843px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: -1880px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-image-1 {
    height: 243px;
    width: 320px;
    margin-right: 0;
  }

  .u-section-6 .u-image-2 {
    height: 303px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-6 .u-image-5 {
    height: 340px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-6 {
    height: 340px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 1549px;
}

.u-section-7 .u-text-1 {
  width: 640px;
  margin: 5px auto 0;
}

.u-section-7 .u-line-1 {
  width: 100px;
  transform-origin: left center 0px;
  height: 3px;
  margin: 5px auto 0;
}

.u-section-7 .u-text-2 {
  width: 640px;
  margin: -3px auto 0;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 69px;
  margin-bottom: 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 608px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-image-1 {
  height: 437px;
  width: 350px;
  margin: 1px -30px 0 auto;
}

.u-section-7 .u-text-3 {
  margin: 29px 20px 0;
}

.u-section-7 .u-text-4 {
  margin: 13px 20px 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 608px;
  background-position: 0% 0%;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-image-2 {
  height: 440px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-text-5 {
  margin: 30px 20px 0;
}

.u-section-7 .u-text-6 {
  margin: 13px 20px 0;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 607px;
  background-position: 0% 0%;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-image-3 {
  height: 441px;
  width: 320px;
  margin: 0;
}

.u-section-7 .u-text-7 {
  margin: 30px 20px 0;
}

.u-section-7 .u-text-8 {
  margin: 13px 20px 0;
}

.u-section-7 .u-layout-wrap-2 {
  margin-top: 59px;
  margin-bottom: 60px;
}

.u-section-7 .u-layout-cell-4 {
  min-height: 554px;
}

.u-section-7 .u-container-layout-4 {
  padding: 30px;
}

.u-section-7 .u-image-4 {
  height: 388px;
  width: 350px;
  margin: 0 -30px 0 0;
}

.u-section-7 .u-text-9 {
  margin: 30px 20px 0;
}

.u-section-7 .u-text-10 {
  margin: 13px 20px 0;
}

.u-section-7 .u-layout-cell-5 {
  min-height: 455px;
  background-position: 0% 0%;
}

.u-section-7 .u-container-layout-5 {
  padding: 30px;
}

.u-section-7 .u-image-5 {
  height: 340px;
  margin: 0 auto;
}

.u-section-7 .u-text-11 {
  margin: 30px 20px 0;
}

.u-section-7 .u-text-12 {
  margin: 13px 20px 0;
}

.u-section-7 .u-layout-cell-6 {
  min-height: 506px;
  background-position: 0% 0%;
}

.u-section-7 .u-container-layout-6 {
  padding: 30px;
}

.u-section-7 .u-image-6 {
  height: 340px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-text-13 {
  margin: 30px 20px 0;
}

.u-section-7 .u-text-14 {
  margin: 13px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1345px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 71px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 483px;
    margin-left: 150px;
    margin-right: 150px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 161px;
    margin-bottom: 20px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 501px;
  }

  .u-section-7 .u-image-1 {
    height: 316px;
    width: 253px;
    margin-right: 0;
  }

  .u-section-7 .u-text-3 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-text-4 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 501px;
  }

  .u-section-7 .u-image-2 {
    height: 280px;
  }

  .u-section-7 .u-text-5 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-text-6 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 501px;
  }

  .u-section-7 .u-image-3 {
    height: 349px;
    width: 253px;
  }

  .u-section-7 .u-text-7 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-text-8 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 457px;
  }

  .u-section-7 .u-image-4 {
    height: 280px;
    width: 253px;
    margin-right: 0;
  }

  .u-section-7 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-layout-cell-5 {
    min-height: 375px;
  }

  .u-section-7 .u-image-5 {
    height: 269px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-layout-cell-6 {
    min-height: 417px;
  }

  .u-section-7 .u-image-6 {
    height: 269px;
  }

  .u-section-7 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 587px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 137px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 341px;
    margin-left: 40px;
    margin-right: 40px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 262px;
    margin-bottom: 60px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-image-1 {
    height: 225px;
    width: 180px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-image-2 {
    height: 214px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-7 .u-image-3 {
    height: 248px;
    width: 180px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-7 .u-image-4 {
    height: 199px;
    width: 180px;
  }

  .u-section-7 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-7 .u-image-5 {
    height: 191px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-7 .u-image-6 {
    height: 191px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 787px;
  }

  .u-section-7 .u-text-1 {
    width: 540px;
    margin-top: -1568px;
  }

  .u-section-7 .u-text-2 {
    width: 540px;
    margin-top: 2012px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: -1409px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 568px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-1 {
    height: 402px;
    width: 530px;
    margin-right: -10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-2 {
    height: 482px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 869px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-5 {
    height: 552px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-6 {
    height: 552px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    width: 340px;
    margin-top: 63px;
  }

  .u-section-7 .u-line-1 {
    margin-top: 20px;
  }

  .u-section-7 .u-text-2 {
    width: 340px;
    margin-top: 1843px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: -1880px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-image-1 {
    height: 243px;
    width: 320px;
    margin-right: 0;
  }

  .u-section-7 .u-image-2 {
    height: 303px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-7 .u-image-5 {
    height: 340px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-6 {
    height: 340px;
  }
}